{% extends './../layouts/master.html' %}
{% block content %}
<div class="full-screen" style="background-image:url(./images/top-bg-2.jpg);background-color:#000">
  <div class="first-screen">
		<div class="wrapper">
			<div class="adult-screen">
				<div class="flex-container">
					<div class="form-content">
						<div class="form-text">
							<h1>Приглашаем Вас на пробное занятие балета для взрослых!</h1>
						</div>
						<div class="cost-text">
							Стоймость занятия всего <strong>200 Р</strong>
						</div>
						<div class="description-text">
							При дальнешей покупки абонемента эти деньги идут Вам в зачет!
						</div>
					</div>
					<div class="form-block">
						<form class="" action="index.html" method="post">
							<div class="form-row"><input type="text" placeholder="Ваше имя"></div>
							<div class="form-row"><input type="text" placeholder="Ваш возраст"></div>
							<div class="form-row"><input type="text" placeholder="Номер телефона"></div>
							<div class="form-row"><button type="submit" class="btn btn-red">Пойти на пробное занятие</button></div>
						</form>
					</div>
				</div>

			</div>
		</div>
  </div>
</div>

<div class="adult-lessons">
	<div class="wrapper">
		<h2 class="block-header text-center">Уроки балета для взрослых</h2>
		<div class="block-descr-text">
		<p>Если Вы занимались классической хореографией в детстве и решили продолжить
		занятия, то мы рады видеть Вас в нашем балетном классе!</p>

		<p>Если же Вы никогда не занимались балетом или хореографией, то в нашей студии вы сможете
		заниматься при любом уровне подготовки. Во взрослые группы мы набираем всех желающих.</p>

		<p>Занятия на любительском уровне состоят из следующих техник:</p>
		</div>
		<div class="adult-lesson-list">

			<div class="adult-lesson-item">
				<div class="adult-lesson-pic">
					<img src="./images/lesson.png" alt="">
				</div>
				<div class="adult-lesson-name">
					Партерная гимнастика
				</div>
			</div>

			<div class="adult-lesson-item">
				<div class="adult-lesson-pic">
					<img src="./images/lesson.png" alt="">
				</div>
				<div class="adult-lesson-name">
					Партерная гимнастика
				</div>
			</div>

			<div class="adult-lesson-item">
				<div class="adult-lesson-pic">
					<img src="./images/lesson.png" alt="">
				</div>
				<div class="adult-lesson-name">
					Экзерсис на середине зала и у станка
				</div>
			</div>

			<div class="adult-lesson-item">
				<div class="adult-lesson-pic">
					<img src="./images/lesson.png" alt="">
				</div>
				<div class="adult-lesson-name">
					Партерная гимнастика
				</div>
			</div>

		</div>
	</div>
</div>

<div class="group-lessons">
	<div class="wrapper">
		<h2 class="block-header text-center">Групповые занятия балетом</h2>
		<div class="block-descr-text">
			<p>Групповые занятия балетом подходят для всех желающих. Вы сможете выполнять парные и
				коллективные элементы, соревноваться в достижениях внутри группы, обрести близких
				по духу друзей и подруг. Занятия балетом в группе позволят Вам достичь
				наилучшей физической формы:</p>

		</div>
	</div>
	<div class="group-lessons-list">

		<div class="group-lesson-item">
			<div class="group-lesson-pic" style="background-image:url(./images/example.jpg)">
			</div>
			<div class="group-lesson-name">
				Ровная осанка и прямая спина
			</div>
		</div>

		<div class="group-lesson-item">
			<div class="group-lesson-pic" style="background-image:url(./images/example.jpg)">
			</div>
			<div class="group-lesson-name">
				Ровная осанка и прямая спина
			</div>
		</div>


		<div class="group-lesson-item">
			<div class="group-lesson-pic" style="background-image:url(./images/example.jpg)">
			</div>
			<div class="group-lesson-name">
				Ровная осанка и прямая спина
			</div>
		</div>

		<div class="group-lesson-item">
			<div class="group-lesson-pic" style="background-image:url(./images/example.jpg)">
			</div>
			<div class="group-lesson-name">
				Ровная осанка и прямая спина
			</div>
		</div>

	</div>
</div>

<div class="personal-lessons">
	<div class="wrapper">

		<h2 class="block-header text-center">Индивидуальные занятия балетом</h2>
		<div class="block-descr-text">
			<p>Этот вид занятий чрезвычайно эффективен. Вы будете осваивать движения в своём собственном темпе,
			не подстраиваясь под группу, а так же дополнительно отрабатывать определенные элементы. Многие на таких
			уроках чувствуют себя более свободно и это помогает достичь хороших результатов.</p>
			<p>Индивидуальные занятия танцами становятся всё более популярными,
			часто это связано с тем, что успешные деловые люди не всегда могут подстраивать свой
			плотный график под расписание групповых занятий.</p>
			<p>Индивидуальные занятия подойдут вам, если:</p>
		</div>

		<div class="personal-lessons-list">

			<div class="personal-lesson-item">
				<div class="flex-container">
					<div class="personal-lesson-pic" style="background-image:url(./images/example.jpg)">
					</div>
					<div class="personal-lesson-text">
						Вам по какой-то причине некомфортно заниматься в присутствии других людей
					</div>
				</div>
			</div>

			<div class="personal-lesson-item">
				<div class="flex-container">
					<div class="personal-lesson-pic" style="background-image:url(./images/example.jpg)">
					</div>
					<div class="personal-lesson-text">
						Вам по какой-то причине некомфортно заниматься в присутствии других людей
					</div>
				</div>
			</div>


			<div class="personal-lesson-item">
				<div class="flex-container">
					<div class="personal-lesson-pic" style="background-image:url(./images/example.jpg)">
					</div>
					<div class="personal-lesson-text">
						Вам по какой-то причине некомфортно заниматься в присутствии других людей
					</div>
				</div>
			</div>


			<div class="personal-lesson-item">
				<div class="flex-container">
					<div class="personal-lesson-pic" style="background-image:url(./images/example.jpg)">
					</div>
					<div class="personal-lesson-text">
						Вам по какой-то причине некомфортно заниматься в присутствии других людей
					</div>
				</div>
			</div>


			<div class="personal-lesson-item">
				<div class="flex-container">
					<div class="personal-lesson-pic" style="background-image:url(./images/example.jpg)">
					</div>
					<div class="personal-lesson-text">
						Вам по какой-то причине некомфортно заниматься в присутствии других людей
					</div>
				</div>
			</div>

		</div>

		<div class="personal-text-descr text-center">
			Условия, график и стоимость индивидуальных занятий согласовываются персонально
с преподавателем и администратором студии.
		</div>

	</div>
</div>

<div class="prices-block">
	<div class="wrapper">
		<h2 class="block-header text-center">Стоймость занятий балетом</h2>
		<div class="block-descr-text">
		<p>Вы можете оплачивать каждое посещение отдельно или купить месячный абонемент на
		подходящее для Вас количество занятий. Абонементы можно купить только у нас в школе.</p>
		</div>
		<div class="price-list-wrapper">
			<div class="price-list">

        <div class="price-item">
					<div class="price-name"><span class="price-name-number">1</span> занятие в группе</div>
					<div class="price-descr">Срок действия: Бессрочный</div>
					<div class="price-value-row">
						500 <span class="ruble">i</span>
					</div>
				</div>

        <div class="price-item">
					<div class="price-name"><span class="price-name-number">4</span> занятие в группе</div>
					<div class="price-descr">Срок действия: Бессрочный</div>
					<div class="price-value-row">
						1 800 <span class="ruble">i</span>
					</div>
				</div>

        <div class="price-item">
					<div class="price-name"><span class="price-name-number">8</span> занятие в группе</div>
					<div class="price-descr">Срок действия: Бессрочный</div>
					<div class="price-value-row">
					3 200 <span class="ruble">i</span>
					</div>
				</div>

        <div class="price-item">
					<div class="price-name"><span class="price-name-number">12</span> занятие в группе</div>
					<div class="price-descr">Срок действия: Бессрочный</div>
					<div class="price-value-row">
						4 200 <span class="ruble">i</span>
					</div>
				</div>

        <div class="price-item">
					<div class="price-name"><span class="price-name-number">16 </span> занятие в группе</div>
					<div class="price-descr">Срок действия: Бессрочный</div>
					<div class="price-value-row">
						4 800 <span class="ruble">i</span>
					</div>
				</div>

        <div class="price-item">
					<div class="price-name"><span class="price-name-number">20</span> занятие в группе</div>
					<div class="price-descr">Срок действия: Бессрочный</div>
					<div class="price-value-row">
						5 500 <span class="ruble">i</span>
					</div>
				</div>

			</div>
		</div>

	</div>
</div>

{% endblock %}
