{% extends './../layouts/master.html' %}
{% block content %}
<div class="about-school">
	<div class="wrapper">
		<h2 class="block-header text-center">О школе</h2>
		<div class="flex-container">
			<div class="about-video">
				<iframe width="100%" height="460" src="https://www.youtube.com/embed/dfYiIbqVhkA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
			</div>
			<div class="about-text">
				<p>Русские Сезоны - ведущая частная школа балета для взрослых и детей на юге России. Для вас мы оборудовали удобные залы в старом центре Краснодара.
				</p>
				<p>
					В нашей школе работают преподавателями действующие артисты театра балета им. Григоровича и Краснодарской филармонии имени Г. Ф. Пономаренко, а также одни из лучших хореографов Краснодара! В нашей студии профессиональные педагоги делятся своими навыками и опытом со всеми, кто хочет приобщиться к искусству балета.
				</p>
				<div class="soc-network">
					<div class="soc-text">Нравится наша школа? Расскажите о ней своим друзьям!</div>
					<div class="soc-widget">
						<img src="./images/repost.png" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="banner-block" style="backgroudd-image:url(./images/banner-bg.jpg)">
	<div class="wrapper">
		<div class="banner-container">
			<strong class="banner-header">Первая в России школа балета<br>в прямом эфире!</strong>
			<div class="banner-items-row">
				<ul class="banner-items">
					<li>Занимайтесь дома, в командировке или на отдыхе</li>
					<li>Просматривайте записи тренировок в удобное время</li>
					<li>Общайтесь с преподователями в прямом эфире</li>
				</ul>
			</div>
			<div class="button-row">
				<button type="button" class="btn btn-red" name="button">Присоединиться!</button>
			</div>
		</div>
	</div>
</div>

<div class="teachers-block">
	<script type="text/javascript">
		$(document).ready(function(){
			$('.teacher-slider').bxSlider({
			});
		});
	</script>
	<div class="wrapper">
		<h2 class="block-header text-center">Наши преподаватели</h2>
		<div class="teacher-slider">
			<div class="teacher-item">
				<div class="teacher-pic">
					<img src="./images/teacher.jpg" alt="">
					<div class="teacher-name">Александр Иванов</div>
				</div>
				<div class="teacher-content">
					<b>Ведущий солист балета, Педагог.</b>
					<p>Выпускник Академии русского балета имени А.Я. Вагановой 2003г. клас Афанаскова В.И.</p>
					<p>Работал в:
					С 2003 по 2007г. и с 2010 по 2012г. В театре балета "Хореографические миниатюры"им. Л.В.Якобсона.
					С 2007 по 2010г. В Teatr Wielki w Lodzi. Лодзь, Польша.
					С 2012 по 2014г.  В Ростовском государственном музыкальном театре.
					С 2014г. В Театре балета Юрия Григоровича</p>
					<p>	Исполнял:
						"Шопениана" (Юноша) хор. М. Фокин
						"Видение розы" хор. М. Фокин
						"Ромео и Джульетта" (Ромео, Парис)  хор. Ю.Н. Петухов. (Ромео, Парис) хор. Ю.Н. Григорович
						"Лебединное озеро"(Зигфрид, Ротбарт, испанский танец, венгерский танец, мазурка) хор. Петипа, Л. Иванов
						"Золушка" (Принц) хор.Джорджио Мадиа, (Принц) хор. О.М. Виноградов
						"Спящая красавица" (Принц Дезире) хор. Петипа, (Принц Дезире) хор. Дж. Мадиа, (Дезире, Pas de deux Голубая птица.) хор. Ю. Н. Григорович
						"Щелкунчик" (Принц, Французкая кукла)хор. Вайнонан, (Французская кукла)хор. Ю.Н. Петухов, (Снежное Па-де-де)хор. Дж. Мадиа, (Принц, Французская кукла) хор. Ю.Н. Григорович
						"Жизель"(Альберт) хор.Ж.Коралли, Ж.Перро
						"Пахита"(Соло)хор. Петипа
						"Дон Кихот"(Эспадо)хор. Горского редакция А.Фадеечева
						"Скульптуры Родена"(Поцелуй)хор. Л.В. Якобсон
						Гастроли в Испании, Нидерланды, Японии, Турции, Норвегии, Финляндии, США, Франции. Греция
						С 2017 обучение в Академии Русского балета им. А. Я. Вагановой. Пед. Фак.</p>
				</div>
			</div>

			<div class="teacher-item">
				<div class="teacher-pic">
					<img src="./images/teacher.jpg" alt="">
					<div class="teacher-name">Александр Иванов</div>
				</div>
				<div class="teacher-content">
					<b>Ведущий солист балета, Педагог.</b>
					<p>Выпускник Академии русского балета имени А.Я. Вагановой 2003г. клас Афанаскова В.И.</p>
					<p>Работал в:
					С 2003 по 2007г. и с 2010 по 2012г. В театре балета "Хореографические миниатюры"им. Л.В.Якобсона.
					С 2007 по 2010г. В Teatr Wielki w Lodzi. Лодзь, Польша.
					С 2012 по 2014г.  В Ростовском государственном музыкальном театре.
					С 2014г. В Театре балета Юрия Григоровича</p>
					<p>	Исполнял:
						"Шопениана" (Юноша) хор. М. Фокин
						"Видение розы" хор. М. Фокин
						"Ромео и Джульетта" (Ромео, Парис)  хор. Ю.Н. Петухов. (Ромео, Парис) хор. Ю.Н. Григорович
						"Лебединное озеро"(Зигфрид, Ротбарт, испанский танец, венгерский танец, мазурка) хор. Петипа, Л. Иванов
						"Золушка" (Принц) хор.Джорджио Мадиа, (Принц) хор. О.М. Виноградов
						"Спящая красавица" (Принц Дезире) хор. Петипа, (Принц Дезире) хор. Дж. Мадиа, (Дезире, Pas de deux Голубая птица.) хор. Ю. Н. Григорович
						"Щелкунчик" (Принц, Французкая кукла)хор. Вайнонан, (Французская кукла)хор. Ю.Н. Петухов, (Снежное Па-де-де)хор. Дж. Мадиа, (Принц, Французская кукла) хор. Ю.Н. Григорович
						"Жизель"(Альберт) хор.Ж.Коралли, Ж.Перро
						"Пахита"(Соло)хор. Петипа
						"Дон Кихот"(Эспадо)хор. Горского редакция А.Фадеечева
						"Скульптуры Родена"(Поцелуй)хор. Л.В. Якобсон
						Гастроли в Испании, Нидерланды, Японии, Турции, Норвегии, Финляндии, США, Франции. Греция
						С 2017 обучение в Академии Русского балета им. А. Я. Вагановой. Пед. Фак.</p>
				</div>
			</div>

			<div class="teacher-item">
				<div class="teacher-pic">
					<img src="./images/teacher.jpg" alt="">
					<div class="teacher-name">Александр Иванов</div>
				</div>
				<div class="teacher-content">
					<b>Ведущий солист балета, Педагог.</b>
					<p>Выпускник Академии русского балета имени А.Я. Вагановой 2003г. клас Афанаскова В.И.</p>
					<p>Работал в:
					С 2003 по 2007г. и с 2010 по 2012г. В театре балета "Хореографические миниатюры"им. Л.В.Якобсона.
					С 2007 по 2010г. В Teatr Wielki w Lodzi. Лодзь, Польша.
					С 2012 по 2014г.  В Ростовском государственном музыкальном театре.
					С 2014г. В Театре балета Юрия Григоровича</p>
					<p>	Исполнял:
						"Шопениана" (Юноша) хор. М. Фокин
						"Видение розы" хор. М. Фокин
						"Ромео и Джульетта" (Ромео, Парис)  хор. Ю.Н. Петухов. (Ромео, Парис) хор. Ю.Н. Григорович
						"Лебединное озеро"(Зигфрид, Ротбарт, испанский танец, венгерский танец, мазурка) хор. Петипа, Л. Иванов
						"Золушка" (Принц) хор.Джорджио Мадиа, (Принц) хор. О.М. Виноградов
						"Спящая красавица" (Принц Дезире) хор. Петипа, (Принц Дезире) хор. Дж. Мадиа, (Дезире, Pas de deux Голубая птица.) хор. Ю. Н. Григорович
						"Щелкунчик" (Принц, Французкая кукла)хор. Вайнонан, (Французская кукла)хор. Ю.Н. Петухов, (Снежное Па-де-де)хор. Дж. Мадиа, (Принц, Французская кукла) хор. Ю.Н. Григорович
						"Жизель"(Альберт) хор.Ж.Коралли, Ж.Перро
						"Пахита"(Соло)хор. Петипа
						"Дон Кихот"(Эспадо)хор. Горского редакция А.Фадеечева
						"Скульптуры Родена"(Поцелуй)хор. Л.В. Якобсон
						Гастроли в Испании, Нидерланды, Японии, Турции, Норвегии, Финляндии, США, Франции. Греция
						С 2017 обучение в Академии Русского балета им. А. Я. Вагановой. Пед. Фак.</p>
				</div>
			</div>

		</div>
	</div>
</div>

<div class="about-lessons">
	<div class="wrapper">
		<h2 class="block-header text-center">Как проходит урок балета</h2>
		<div class="block-descr text-center">
			Стандартный групповой урок классического балета включает в себя целый ряд особенностей.
			Мы построили для Вас урок балета так, чтобы им могли заниматься не только
			профессионалы, но и люди с любым уровнем подготовки.
		</div>
		<div class="lessons-list">

			<div class="lesson-item">
				<div class="lesson-pic">
					<img src="./images/lesson.png" alt="">
				</div>
				<div class="lesson-name">
					Урок длится 60 минут
				</div>
				<div class="lesson-descr">
					Этого достаочно, чтобы усвоить навыки и не перегружать организм
				</div>
			</div>

			<div class="lesson-item">
				<div class="lesson-pic">
					<img src="./images/lesson.png" alt="">
				</div>
				<div class="lesson-name">
					Урок длится 60 минут
				</div>
				<div class="lesson-descr">
					Этого достаочно, чтобы усвоить навыки и не перегружать организм
				</div>
			</div>

			<div class="lesson-item">
				<div class="lesson-pic">
					<img src="./images/lesson.png" alt="">
				</div>
				<div class="lesson-name">
					Урок длится 60 минут
				</div>
				<div class="lesson-descr">
					Этого достаочно, чтобы усвоить навыки и не перегружать организм
				</div>
			</div>

			<div class="lesson-item">
				<div class="lesson-pic">
					<img src="./images/lesson.png" alt="">
				</div>
				<div class="lesson-name">
					Урок длится 60 минут
				</div>
				<div class="lesson-descr">
					Этого достаочно, чтобы усвоить навыки и не перегружать организм
				</div>
			</div>


			<div class="lesson-item">
				<div class="lesson-pic">
					<img src="./images/lesson.png" alt="">
				</div>
				<div class="lesson-name">
					Урок длится 60 минут
				</div>
				<div class="lesson-descr">
					Этого достаочно, чтобы усвоить навыки и не перегружать организм
				</div>
			</div>

		</div>
	</div>
</div>

<div class="photo-gallery">
	<div class="wrapper">
		<h2 class="block-header text-center">Фотогалерея</h2>
		<div class="block-descr text-center">
			Фото нашей студии, залов и групп
		</div>
		<div class="gallery-list">

			<div class="gallery-item">
				<a href="./images/gallery-big.jpg" class="fancybox" style="background-image:url(./images/gallery-small.jpg)" title="Фото 1">
				</a>
			</div>

			<div class="gallery-item">
				<a href="./images/gallery-big-2.jpg" class="fancybox" style="background-image:url(./images/gallery-small-2.jpg)" title="Фото 1">
				</a>
			</div>

			<div class="gallery-item">
				<a href="./images/gallery-big.jpg" class="fancybox" style="background-image:url(./images/gallery-small.jpg)" title="Фото 1">
				</a>
			</div>

			<div class="gallery-item">
				<a href="./images/gallery-big-2.jpg" class="fancybox" style="background-image:url(./images/gallery-small-2.jpg)" title="Фото 1">
				</a>
			</div>

			<div class="gallery-item">
				<a href="./images/gallery-big.jpg" class="fancybox" style="background-image:url(./images/gallery-small.jpg)" title="Фото 1">
				</a>
			</div>

			<div class="gallery-item">
				<a href="./images/gallery-big-2.jpg" class="fancybox" style="background-image:url(./images/gallery-small-2.jpg)" title="Фото 1">
				</a>
			</div>

			<div class="gallery-item">
				<a href="./images/gallery-big.jpg" class="fancybox" style="background-image:url(./images/gallery-small.jpg)" title="Фото 1">
				</a>
			</div>

			<div class="gallery-item">
				<a href="./images/gallery-big-2.jpg" class="fancybox" style="background-image:url(./images/gallery-small-2.jpg)" title="Фото 1">
				</a>
			</div>

			<div class="gallery-item">
				<a href="./images/gallery-big.jpg" class="fancybox" style="background-image:url(./images/gallery-small.jpg)" title="Фото 1">
				</a>
			</div>

			<div class="gallery-item">
				<a href="./images/gallery-big-2.jpg" class="fancybox" style="background-image:url(./images/gallery-small-2.jpg)" title="Фото 1">
				</a>
			</div>

		</div>
	</div>
</div>

{% endblock %}
