{% extends './../layouts/master.html' %}
{% block content %}
<div class="full-screen fix-hight-contact progressive__bg progressive--not-loaded" data-progressive="./images/top-bg-contact.jpg" style="background-image:url(./images/top-bg-contact-low.jpg);background-color:#000">
  <div class="first-screen">
      <div class="wrapper text-center">
        <h1 class="page-header">Контакты</h1>
      </div>
	</div>
</div>

<div class="contacts">
  <div class="wrapper">
    <div class="flex-wrapper">
      <div class="contact-photo">
        <img src="./images/contact-photo.jpg" alt="">
      </div>
      <div class="contact-content">
        <div class="contact-text">
          <p>Школа балета “Русские Сезоны” находится в
историческом центре Краснодара, в шаговой
доступности от общественного транспорта
и муниципальных парковок. </p>
        </div>
        <div class="contact-info">
          <div class="contact-row">
            <i class="ic-point"></i><span>Краснодар, ул Коммунаров, дом 166, 2-й этаж</span>
          </div>
          <div class="contact-row phone-row">
            <i class="ic-phone-num"></i>
            <ul class="phone-list">
              <li>+7(123) 460-88-77</li>
              <li>+7(123) 460-88-77</li>
            </ul>
          </div>
          <div class="contact-row">
            <i class="ic-email"></i><a href="mailto:info@baletkrasnodar.ru" title="">info@baletkrasnodar.ru</a>
          </div>
          <div class="contact-row">
            <div class="soc-network">
    					<div class="soc-text">Нравится наша школа? Расскажите о ней своим друзьям!</div>
    					<div class="soc-widget">
    						<img src="./images/repost.png" alt="">
    					</div>
    				</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



{% endblock %}
