{% extends './../layouts/master.html' %}
{% block content %}
<div class="full-screen fix-hight-reviews progressive__bg progressive--not-loaded" data-progressive="./images/top-bg-reviews.jpg" style="background-image:url(./images/top-bg-reviews-low.jpg);background-color:#000">
  <div class="first-screen">
      <div class="wrapper text-center">
        <h1 class="page-header">Отзывы</h1>
        <div class="screen-text-descr">
            Мы не пишем хвалебных отзывов о себе. Все наши отзывы ученики публикуют сами
            в своих социальных сетях, а мы лишь размещаем их у себя и
            даем ссылку на оригинал.
        </div>
      </div>
	</div>
</div>

<div class="reviews">
  <div class="wrapper">
    <div class="reviews-list">

      <div class="reviews-item">
        <div class="flex-container">
          <div class="reviews-pic">
            <div class="auther-pic" style="background-image:url(./images/reviews-picture.jpg)">
            </div>
            <div class="reviews-name">Иванов Иван</div>
          </div>
          <div class="reviews-content">
            В Краснодарской студии балета “Русские Сезоны” занимаюсь с октября 2016 года. Большое спасибо организаторам данной студии за это прекрасное место, куда хочется возвращаться снова и снова. Антураж зала и красивая классическая музыка создают атмосферу, в которой ты забываешь обо всех своих проблемах! Преподаватель студии Оксана - профессионал своего дела, к каждому ученику она находит индивидуальный подход и уделяет большое внимание проработке каждого движения.
            <div class="reviews-detail-row">
              <a href="#" title="" class="btn btn-red-light">Посмотреть оригинал отзыва</a>
            </div>
          </div>
          <div class="reviews-info">
            <a href="./images/reviews-screen.jpg" class="fancybox"><img src="./images/reviews-screen.jpg" alt=""></a>
          </div>
        </div>
      </div>

      <div class="reviews-item">
        <div class="flex-container">
          <div class="reviews-pic">
            <div class="auther-pic" style="background-image:url(./images/reviews-picture.jpg)">
            </div>
            <div class="reviews-name">Иванов Иван</div>
          </div>
          <div class="reviews-content">
            В Краснодарской студии балета “Русские Сезоны” занимаюсь с октября 2016 года. Большое спасибо организаторам данной студии за это прекрасное место, куда хочется возвращаться снова и снова. Антураж зала и красивая классическая музыка создают атмосферу, в которой ты забываешь обо всех своих проблемах! Преподаватель студии Оксана - профессионал своего дела, к каждому ученику она находит индивидуальный подход и уделяет большое внимание проработке каждого движения.
            <div class="reviews-detail-row">
              <a href="#" title="" class="btn btn-red-light">Посмотреть оригинал отзыва</a>
            </div>
          </div>
          <div class="reviews-info">
            <a href="./images/reviews-screen.jpg" class="fancybox"><img src="./images/reviews-screen.jpg" alt=""></a>
          </div>
        </div>
      </div>


      <div class="reviews-item">
        <div class="flex-container">
          <div class="reviews-pic">
            <div class="auther-pic" style="background-image:url(./images/reviews-picture.jpg)">
            </div>
            <div class="reviews-name">Иванов Иван</div>
          </div>
          <div class="reviews-content">
            В Краснодарской студии балета “Русские Сезоны” занимаюсь с октября 2016 года. Большое спасибо организаторам данной студии за это прекрасное место, куда хочется возвращаться снова и снова. Антураж зала и красивая классическая музыка создают атмосферу, в которой ты забываешь обо всех своих проблемах! Преподаватель студии Оксана - профессионал своего дела, к каждому ученику она находит индивидуальный подход и уделяет большое внимание проработке каждого движения.
            <div class="reviews-detail-row">
              <a href="#" title="" class="btn btn-red-light">Посмотреть оригинал отзыва</a>
            </div>
          </div>
          <div class="reviews-info">
            <a href="./images/reviews-screen.jpg" class="fancybox"><img src="./images/reviews-screen.jpg" alt=""></a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


{% endblock %}
