{% extends './../layouts/master.html' %}
{% block content %}
<div class="full-screen fix-hight-contact progressive__bg progressive--not-loaded" data-progressive="./images/top-bg-schedule.jpg" style="background-image:url(./images/top-bg-schedule-low.jpg);background-color:#000">
  <div class="first-screen">
      <div class="wrapper text-center">
        <h1 class="page-header">Расписание занятий</h1>
      </div>
	</div>
</div>

<div class="schedule">
  <div class="wrapper">
    <div class="schedule-compontent">
      <div class="schedule-nav-row">
        <div class="schedule-nav-prev-date schedule-nav-block">
          <a href="" title=""><i class="ic-prev-arrow"></i><span class="prev-date-text">Сентябрь 2018</span></a>
        </div>
        <div class="schedule-nav-current-date schedule-nav-block">
          <span>Октябрь 2018</span>
        </div>
        <div class="schedule-nav-next-date schedule-nav-block">
          <a href="" title=""><span class="prev-date-text">Ноябрь 2018</span><i class="ic-next-arrow"></i></a>
        </div>
      </div>

      <div class="schedule-time-lenght-row">
        <div class="schedule-time-lenght">
          <input id="month-radio" checked="checked" type="radio" name="time-lenght" value="month">
          <label for="month-radio">Месяц</label>

          <input id="week-radio" type="radio" name="time-lenght" value="week">
          <label for="week-radio">Неделя</label>

          <input id="day-radio" type="radio" name="time-lenght" value="day">
          <label for="day-radio">День</label>

        </div>
      </div>

      <div class="schedule-table month-table">
        <div class="schedule-week-row">
          <div class="schedule-week-cell">
            <span class="week-full-name">Понедельник</span>
            <span class="week-short-name">Пн</span>
          </div>
          <div class="schedule-week-cell">
            <span class="week-full-name">Вторник</span>
            <span class="week-short-name">Вт</span>
          </div>
          <div class="schedule-week-cell">
            <span class="week-full-name">Среда</span>
            <span class="week-short-name">Ср</span>
          </div>
          <div class="schedule-week-cell">
            <span class="week-full-name">Четверг</span>
            <span class="week-short-name">Чт</span>
          </div>
          <div class="schedule-week-cell">
            <span class="week-full-name">Пятница</span>
            <span class="week-short-name">Пт</span>
          </div>
          <div class="schedule-week-cell">
            <span class="week-full-name">Суббота</span>
            <span class="week-short-name">Сб</span>
          </div>
          <div class="schedule-week-cell">
            <span class="week-full-name">Воскресенье</span>
            <span class="week-short-name">Вс</span>
          </div>
        </div>
        <div class="schedule-day-row">
          <div class="schedule-day-cell">

          </div>
          <div class="schedule-day-cell">
            <div class="schedule-day-number">1</div>
            <div class="schedule-text-list">
              <div class="schedule-item">
                <div class="schedule-t">11:00</div>
                <div class="schedule-text">Разминка. Уровень 1</div>
              </div>
              <div class="schedule-item">
                <div class="schedule-t">12:00</div>
                <div class="schedule-text">Разминка. Уровень 2</div>
              </div>
              <div class="schedule-item">
                <div class="schedule-t">13:00</div>
                <div class="schedule-text">Разминка. Уровень 3</div>
              </div>
              <div class="schedule-item">
                <div class="schedule-t">14:00</div>
                <div class="schedule-text">Разминка. Уровень 4</div>
              </div>
            </div>
          </div>
          <div class="schedule-day-cell">
            <div class="schedule-day-number">2</div>
          </div>
          <div class="schedule-day-cell">
            <div class="schedule-day-number">3</div>
          </div>
          <div class="schedule-day-cell">
            <div class="schedule-day-number">4</div>
          </div>
          <div class="schedule-day-cell">
            <div class="schedule-day-number">5</div>
          </div>
          <div class="schedule-day-cell">
            <div class="schedule-day-number">6</div>
          </div>
        </div>
        <div class="schedule-day-row">
          <div class="schedule-day-cell">
            <div class="schedule-day-number">7</div>
          </div>
          <div class="schedule-day-cell">
            <div class="schedule-day-number">8</div>
          </div>
          <div class="schedule-day-cell">
            <div class="schedule-day-number">9</div>
          </div>
          <div class="schedule-day-cell">
            <div class="schedule-day-number">10</div>
          </div>
          <div class="schedule-day-cell">
            <div class="schedule-day-number">11</div>
          </div>
          <div class="schedule-day-cell">
            <div class="schedule-day-number">12</div>
          </div>
          <div class="schedule-day-cell">
            <div class="schedule-day-number">13</div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

{% endblock %}
