.top-menu-row{
  .top-menu{
    font-family: 'Merriweather', serif;
    margin-top: 10px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: space-around;
    li{
      a{
        font-weight: 300;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 18px;
        position: relative;
        &:hover, &.selected{
          color: #9e9e9e;
          &:after{
            content: "";
            position: absolute;
            left: 0;
            bottom: -7px;
            width: 100%;
            height: 3px;
            background-color: $color-acent;
          }
        }
      }
    }
  }
}
