.header{
  height: $header-height;
  &.header-public{
    height: 100vh;
    background-color: #383533;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    &.fixed{
      .header-top-block{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 100;
        background-color: rgba(0,0,0,0.7);
        .flex-container{
          height: 90px;
          .logo-cell{
            img{
              height: 70px;
            }
            a{
              .logo-text{
                font-size: 32px;
              }
            }
          }
          .menu-cell{
            display: block;
          }
        }
      }
      .top-menu-row{
        opacity: 0;
      }
    }
  }
  .header-top-block .flex-container {
    display: flex;
    height: 110px;
    align-items: center;
    justify-content: space-between;
    margin-left: -20px;
    margin-right: -20px;
    color: #fff;
    font-family: $font-ptsans;
    .top-cell{
      padding-left: 20px;
      padding-right: 20px;
      &.logo-cell{
        padding-right: 40px;
        >a{
          display: flex;
          align-items: center;
          text-decoration: none;
          img{
            margin-right: 20px;
          }
          .logo-text{
            color: #fff;
            font-size: 42px;
            font-family: $font-pt-serif;
          }
        }
      }
      &.menu-cell{
        display: none;
      }
      &.phone-number-cell{
        .phone-number{
          display: flex;
          align-items: center;
          i{
            margin-right: 5px;
          }
          ul{
            list-style: none;
            margin: 0;
            padding: 0;
          }
        }
      }
      &.auth-cell{
        .auth-link{
          text-decoration: none;
          color: #fff;
          >*{
            display: inline-block;
            vertical-align: middle;
          }
          i{
            margin-right: 5px;
          }
          span{
            text-decoration: underline;
          }
        }
      }
    }
  }
}
