.header{
  height: $header-height;
  &.header-public{
    &.fixed{
      .header-top-block{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
        background-color: rgba(0,0,0,0.7);
        .flex-container{
          height: 90px;
          .logo-cell{
            //width: 400px;
            img{
              height: 70px;
            }
            a{
              .logo-text{
                font-size: 32px;
              }
            }
          }
          .menu-cell{
            opacity: 1;
          }
        }
      }
      .top-menu-row{
        opacity: 0;
      }
      .first-screen{
        text-align: center;
        .first-screen-header{
          margin-top: 360px;
          @include breakpoint(max-width $desktop-width){
            margin: 0;
          }
        }
      }
    }
    @include breakpoint(max-width $desktop-width){
      display: none;
    }
  }
  .header-top-block .flex-container {
    display: flex;
    height: 110px;
    align-items: center;
    justify-content: space-between;
    margin-left: -20px;
    margin-right: -20px;
    color: #fff;
    font-family: $font-ptsans;
    @include breakpoint(max-width 1100px){
      margin-left: -15px;
      margin-right: -15px;
    }
    .top-cell{
      padding-left: 20px;
      padding-right: 20px;
      @include breakpoint(max-width 1100px){
        margin-left: 15px;
        margin-right: 15px;
        padding-left: 0px;
        padding-right: 0px;
      }
      &.logo-cell{
        >a{
          display: flex;
          align-items: center;
          text-decoration: none;
          img{
            margin-right: 20px;
          }
          .logo-text{
            color: #fff;
            font-size: 42px;
            font-family: $font-pt-serif;
            @include breakpoint(max-width 1050px){
              font-size: 30px;
            }
          }
        }
      }
      &.menu-cell{
        opacity: 0;
      }
      &.phone-number-cell{
        .phone-number{
          display: flex;
          align-items: center;
          i{
            margin-right: 5px;
          }
          ul{
            list-style: none;
            margin: 0;
            padding: 0;
          }
        }
      }
      &.auth-cell{
        .auth-link{
          text-decoration: none;
          color: #fff;
          >*{
            display: inline-block;
            vertical-align: middle;
          }
          i{
            margin-right: 5px;
          }
          span{
            text-decoration: underline;
          }
        }
      }
    }
  }
}
.full-screen{
  min-height: 100vh;
  background-repeat: no-repeat;
  margin-top: -100px;
  padding-top: 370px;
  background-size: cover;
  background-position: center;
  @include breakpoint(max-width $desktop-width){
    margin: 0;
    padding: 0;
  }
  &.fix-hight-contact{
    min-height: 310px;
    padding-top: 175px;
  }
  &.fix-hight-reviews{
    min-height: 410px;
    padding-top: 175px;
  }
  .first-screen{
    .first-screen-header{
      margin-top: 50px;
      margin-left: 460px;
      display: inline-block;
      font-family: $font-alegra;
      color: #fff;
      font-size: 47px;
      width: 460px;
      text-align: left;
      font-weight: 800;
      line-height: 1em;
      position: relative;
      &:after{
        display: block;
        height: 5px;
        width: 60px;
        background-color: $color-acent;
        content: "";
        margin-top: 20px;
        @include breakpoint(max-width $desktop-width){
          display: none;
        }
      }
      @include breakpoint(max-width $desktop-width){
        margin: 0;
        padding: 0;
        font-size: 20px;
        width: auto;
        display:inline-block;
      }
    }
    .screen-text-descr{
      color: #fff;
      font-size: 22px;
      padding-left: 20%;
      padding-right: 20%;
      line-height: 1.2;
      @include breakpoint(max-width $pad-width){
        padding: 0;
      }
    }
    .page-header{
      color: #fff;
      font-size: 38px;
      font-weight: 400;
      margin-bottom: 15px;
    }
  }
  .arrow-row {
    text-align: center;
    margin-top: calc(100vh - 630px);
  }
  .arrow-to-bottom {
      height: 45px;
      width: 45px;
      display: inline-block;
  }
  .arrow-to-bottom .arrow-wrapper i{
  	position: relative;
  }
  .arrow-to-bottom .arrow-1:before{
  	position: absolute;
  	display: block;
  	content: "";
  	width: 30px;
  	height: 2px;
  	background-color: #ccc;
  	transform: rotate(135deg);
  	left: -5px;
  	-webkit-animation: blink 1s;
  	-webkit-animation-iteration-count: infinite;
  	animation: blink 1s;
  	animation-iteration-count: infinite;
  }
  .arrow-to-bottom .arrow-1:after{
  	position: absolute;
  	display: block;
  	content: "";
  	width: 30px;
  	height: 2px;
  	background-color: #ccc;
  	transform: rotate(-135deg);
  	right: -5px;
  	-webkit-animation: blink 1s;
  	-webkit-animation-iteration-count: infinite;
  	animation: blink 1s;
  	animation-iteration-count: infinite;
  }
  @keyframes blink {
   0% { background-color: #f3f3f3; }
   50% { background-color: #8f8c90; }
   100% { background-color: #f3f3f3; }
  }

  .arrow-to-bottom .arrow-2:before{
  	position: absolute;
  	display: block;
  	content: "";
  	width: 30px;
  	height: 2px;
  	background-color: #ccc;
  	transform: rotate(135deg);
  	left: -5px;
  	-webkit-animation: blink2 1s;
  	-webkit-animation-iteration-count: infinite;
  	animation: blink2 1s;
  	animation-iteration-count: infinite;
  	margin-top:13px;
  }
  .arrow-to-bottom .arrow-2:after{
  	margin-top:13px;
  	position: absolute;
  	display: block;
  	content: "";
  	width: 30px;
  	height: 2px;
  	background-color: #ccc;
  	transform: rotate(-135deg);
  	right: -5px;
  	-webkit-animation: blink2 1s;
  	-webkit-animation-iteration-count: infinite;
  	animation: blink2 1s;
  	animation-iteration-count: infinite;
  }
  @keyframes blink2 {
  	0% { background-color: #8f8c90; }
    50% { background-color:  #f3f3f3;}
    100% { background-color: #8f8c90; }
  }

}
