html{
  font-size: $font-size;
  line-height: $base-line-height;
  font-family: $font-alegra, serif;
  color: #342f2a;
}
body {
  background-color: #fff;
}
.ruble{
  font-family: $font-ruble;
}
.price-value{
  font-family: $font-ptsans;
}
a:hover{
  color: $color-link-hover;
}
main {
   min-height: calc(100vh - (#{$footer-height} + #{$header-height}));
}

.left-sidebar{

}
.right-sidebar{

}
.content{

}
//if use grid system
.wrapper{
  max-width: $container-max-width;
  min-width: $container-min-width;
  margin: auto;
  padding-left: $container-padding;
  padding-right: $container-padding;
}
.text-center{
  text-align: center;
}
.soc-network{
  .soc-text{
    font-size: 16px;
    margin-bottom: 5px;
  }
}
