i{
  display: inline-block;
}
.ic-phone-num{
  @include sprite($ic-phone-num);
}
.ic-email{
  @include sprite($ic-email);
}
.ic-point{
  @include sprite($ic-point);
}
.ic-vk{
  @include sprite($ic-vk);
  &:hover{
      @include sprite($ic-vk-hover);
  }
}

.ic-fb{
  @include sprite($ic-fb);
  &:hover{
      @include sprite($ic-fb-hover);
  }
}

.ic-inst{
  @include sprite($ic-inst);
  &:hover{
      @include sprite($ic-inst-hover);
  }
}

.ic-ok{
  @include sprite($ic-ok);
  &:hover{
      @include sprite($ic-ok-hover);
  }
}

.ic-you{
  @include sprite($ic-you);
  &:hover{
      @include sprite($ic-you-hover);
  }
}

.ic-phone{
  @include sprite($ic-phone);
}
.ic-auth{
  @include sprite($ic-auth);
}
.ic-play{
  @include sprite($ic-play);
}
.ic-hamburger{
  height: 48px;
  width: 48px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 5px;
  padding-bottom: 5px;
  box-sizing: border-box;
  padding: 12px;
  padding-top: 16px;
  padding-bottom: 16px;
  border-radius: 18px;
  background-color: $color-acent;
  &:hover{
    background-color: $color-acent-hover;
  }
  span{
    width: 100%;
    height: 2px;
    background-color: #fff;
    display: block;
  }
}
