body{

}
.block-header{
  font-family: $font-alegra;
  font-weight: 500;
  font-size: 38px;
  padding-top: 1.2em;
  padding-bottom: 0.2em;
  margin: 0;
  color: #342f2a;
}
p{
  margin-top:0;
}
.block-descr-text{
  padding-left: 170px;
  padding-right: 170px;
  display: inline-block;
  font-size: 21px;
  font-weight: 300;
  line-height: 1.2;
  margin-bottom: 40px;
  text-align: center;
}
