.btn{
  cursor: pointer;
  display: flex;
  align-items: center;
  &.red-btn{
    background-color: $color-acent;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #fff;
    border-radius: 25px;
    text-decoration: none;
    &:hover{
      background-color: $color-acent-hover;
    }
  }
  i{
    margin-right: 15px;
  }
}
