$ic-answer-name: 'ic-answer';
$ic-answer-x: 25px;
$ic-answer-y: 0px;
$ic-answer-offset-x: -25px;
$ic-answer-offset-y: 0px;
$ic-answer-width: 20px;
$ic-answer-height: 20px;
$ic-answer-total-width: 92px;
$ic-answer-total-height: 89px;
$ic-answer-image: '/images/sprite.png';
$ic-answer: (25px, 0px, -25px, 0px, 20px, 20px, 92px, 89px, '/images/sprite.png', 'ic-answer', );
$ic-auth-name: 'ic-auth';
$ic-auth-x: 0px;
$ic-auth-y: 74px;
$ic-auth-offset-x: 0px;
$ic-auth-offset-y: -74px;
$ic-auth-width: 15px;
$ic-auth-height: 15px;
$ic-auth-total-width: 92px;
$ic-auth-total-height: 89px;
$ic-auth-image: '/images/sprite.png';
$ic-auth: (0px, 74px, 0px, -74px, 15px, 15px, 92px, 89px, '/images/sprite.png', 'ic-auth', );
$ic-email-name: 'ic-email';
$ic-email-x: 44px;
$ic-email-y: 45px;
$ic-email-offset-x: -44px;
$ic-email-offset-y: -45px;
$ic-email-width: 18px;
$ic-email-height: 15px;
$ic-email-total-width: 92px;
$ic-email-total-height: 89px;
$ic-email-image: '/images/sprite.png';
$ic-email: (44px, 45px, -44px, -45px, 18px, 15px, 92px, 89px, '/images/sprite.png', 'ic-email', );
$ic-fb-hover-name: 'ic-fb-hover';
$ic-fb-hover-x: 78px;
$ic-fb-hover-y: 41px;
$ic-fb-hover-offset-x: -78px;
$ic-fb-hover-offset-y: -41px;
$ic-fb-hover-width: 12px;
$ic-fb-hover-height: 21px;
$ic-fb-hover-total-width: 92px;
$ic-fb-hover-total-height: 89px;
$ic-fb-hover-image: '/images/sprite.png';
$ic-fb-hover: (78px, 41px, -78px, -41px, 12px, 21px, 92px, 89px, '/images/sprite.png', 'ic-fb-hover', );
$ic-fb-name: 'ic-fb';
$ic-fb-x: 78px;
$ic-fb-y: 20px;
$ic-fb-offset-x: -78px;
$ic-fb-offset-y: -20px;
$ic-fb-width: 12px;
$ic-fb-height: 21px;
$ic-fb-total-width: 92px;
$ic-fb-total-height: 89px;
$ic-fb-image: '/images/sprite.png';
$ic-fb: (78px, 20px, -78px, -20px, 12px, 21px, 92px, 89px, '/images/sprite.png', 'ic-fb', );
$ic-inst-hover-name: 'ic-inst-hover';
$ic-inst-hover-x: 45px;
$ic-inst-hover-y: 0px;
$ic-inst-hover-offset-x: -45px;
$ic-inst-hover-offset-y: 0px;
$ic-inst-hover-width: 19px;
$ic-inst-hover-height: 19px;
$ic-inst-hover-total-width: 92px;
$ic-inst-hover-total-height: 89px;
$ic-inst-hover-image: '/images/sprite.png';
$ic-inst-hover: (45px, 0px, -45px, 0px, 19px, 19px, 92px, 89px, '/images/sprite.png', 'ic-inst-hover', );
$ic-inst-name: 'ic-inst';
$ic-inst-x: 45px;
$ic-inst-y: 19px;
$ic-inst-offset-x: -45px;
$ic-inst-offset-y: -19px;
$ic-inst-width: 19px;
$ic-inst-height: 19px;
$ic-inst-total-width: 92px;
$ic-inst-total-height: 89px;
$ic-inst-image: '/images/sprite.png';
$ic-inst: (45px, 19px, -45px, -19px, 19px, 19px, 92px, 89px, '/images/sprite.png', 'ic-inst', );
$ic-list-type-name: 'ic-list-type';
$ic-list-type-x: 44px;
$ic-list-type-y: 60px;
$ic-list-type-offset-x: -44px;
$ic-list-type-offset-y: -60px;
$ic-list-type-width: 15px;
$ic-list-type-height: 13px;
$ic-list-type-total-width: 92px;
$ic-list-type-total-height: 89px;
$ic-list-type-image: '/images/sprite.png';
$ic-list-type: (44px, 60px, -44px, -60px, 15px, 13px, 92px, 89px, '/images/sprite.png', 'ic-list-type', );
$ic-ok-hover-name: 'ic-ok-hover';
$ic-ok-hover-x: 64px;
$ic-ok-hover-y: 0px;
$ic-ok-hover-offset-x: -64px;
$ic-ok-hover-offset-y: 0px;
$ic-ok-hover-width: 14px;
$ic-ok-hover-height: 22px;
$ic-ok-hover-total-width: 92px;
$ic-ok-hover-total-height: 89px;
$ic-ok-hover-image: '/images/sprite.png';
$ic-ok-hover: (64px, 0px, -64px, 0px, 14px, 22px, 92px, 89px, '/images/sprite.png', 'ic-ok-hover', );
$ic-ok-name: 'ic-ok';
$ic-ok-x: 64px;
$ic-ok-y: 22px;
$ic-ok-offset-x: -64px;
$ic-ok-offset-y: -22px;
$ic-ok-width: 14px;
$ic-ok-height: 22px;
$ic-ok-total-width: 92px;
$ic-ok-total-height: 89px;
$ic-ok-image: '/images/sprite.png';
$ic-ok: (64px, 22px, -64px, -22px, 14px, 22px, 92px, 89px, '/images/sprite.png', 'ic-ok', );
$ic-phone-num-name: 'ic-phone-num';
$ic-phone-num-x: 20px;
$ic-phone-num-y: 25px;
$ic-phone-num-offset-x: -20px;
$ic-phone-num-offset-y: -25px;
$ic-phone-num-width: 20px;
$ic-phone-num-height: 20px;
$ic-phone-num-total-width: 92px;
$ic-phone-num-total-height: 89px;
$ic-phone-num-image: '/images/sprite.png';
$ic-phone-num: (20px, 25px, -20px, -25px, 20px, 20px, 92px, 89px, '/images/sprite.png', 'ic-phone-num', );
$ic-phone-name: 'ic-phone';
$ic-phone-x: 0px;
$ic-phone-y: 0px;
$ic-phone-offset-x: 0px;
$ic-phone-offset-y: 0px;
$ic-phone-width: 25px;
$ic-phone-height: 25px;
$ic-phone-total-width: 92px;
$ic-phone-total-height: 89px;
$ic-phone-image: '/images/sprite.png';
$ic-phone: (0px, 0px, 0px, 0px, 25px, 25px, 92px, 89px, '/images/sprite.png', 'ic-phone', );
$ic-play-name: 'ic-play';
$ic-play-x: 0px;
$ic-play-y: 25px;
$ic-play-offset-x: 0px;
$ic-play-offset-y: -25px;
$ic-play-width: 20px;
$ic-play-height: 20px;
$ic-play-total-width: 92px;
$ic-play-total-height: 89px;
$ic-play-image: '/images/sprite.png';
$ic-play: (0px, 25px, 0px, -25px, 20px, 20px, 92px, 89px, '/images/sprite.png', 'ic-play', );
$ic-point-name: 'ic-point';
$ic-point-x: 78px;
$ic-point-y: 0px;
$ic-point-offset-x: -78px;
$ic-point-offset-y: 0px;
$ic-point-width: 14px;
$ic-point-height: 20px;
$ic-point-total-width: 92px;
$ic-point-total-height: 89px;
$ic-point-image: '/images/sprite.png';
$ic-point: (78px, 0px, -78px, 0px, 14px, 20px, 92px, 89px, '/images/sprite.png', 'ic-point', );
$ic-vk-hover-name: 'ic-vk-hover';
$ic-vk-hover-x: 0px;
$ic-vk-hover-y: 60px;
$ic-vk-hover-offset-x: 0px;
$ic-vk-hover-offset-y: -60px;
$ic-vk-hover-width: 22px;
$ic-vk-hover-height: 14px;
$ic-vk-hover-total-width: 92px;
$ic-vk-hover-total-height: 89px;
$ic-vk-hover-image: '/images/sprite.png';
$ic-vk-hover: (0px, 60px, 0px, -60px, 22px, 14px, 92px, 89px, '/images/sprite.png', 'ic-vk-hover', );
$ic-vk-name: 'ic-vk';
$ic-vk-x: 22px;
$ic-vk-y: 60px;
$ic-vk-offset-x: -22px;
$ic-vk-offset-y: -60px;
$ic-vk-width: 22px;
$ic-vk-height: 14px;
$ic-vk-total-width: 92px;
$ic-vk-total-height: 89px;
$ic-vk-image: '/images/sprite.png';
$ic-vk: (22px, 60px, -22px, -60px, 22px, 14px, 92px, 89px, '/images/sprite.png', 'ic-vk', );
$ic-you-hover-name: 'ic-you-hover';
$ic-you-hover-x: 0px;
$ic-you-hover-y: 45px;
$ic-you-hover-offset-x: 0px;
$ic-you-hover-offset-y: -45px;
$ic-you-hover-width: 22px;
$ic-you-hover-height: 15px;
$ic-you-hover-total-width: 92px;
$ic-you-hover-total-height: 89px;
$ic-you-hover-image: '/images/sprite.png';
$ic-you-hover: (0px, 45px, 0px, -45px, 22px, 15px, 92px, 89px, '/images/sprite.png', 'ic-you-hover', );
$ic-you-name: 'ic-you';
$ic-you-x: 22px;
$ic-you-y: 45px;
$ic-you-offset-x: -22px;
$ic-you-offset-y: -45px;
$ic-you-width: 22px;
$ic-you-height: 15px;
$ic-you-total-width: 92px;
$ic-you-total-height: 89px;
$ic-you-image: '/images/sprite.png';
$ic-you: (22px, 45px, -22px, -45px, 22px, 15px, 92px, 89px, '/images/sprite.png', 'ic-you', );
$spritesheet-width: 92px;
$spritesheet-height: 89px;
$spritesheet-image: '/images/sprite.png';
$spritesheet-sprites: ($ic-answer, $ic-auth, $ic-email, $ic-fb-hover, $ic-fb, $ic-inst-hover, $ic-inst, $ic-list-type, $ic-ok-hover, $ic-ok, $ic-phone-num, $ic-phone, $ic-play, $ic-point, $ic-vk-hover, $ic-vk, $ic-you-hover, $ic-you, );
$spritesheet: (92px, 89px, '/images/sprite.png', $spritesheet-sprites, );

@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
