////_____fonts property_____/////////
$font-path: '/fonts/';
$font-pt-serif: 'PTSerifRegular';
$font-open-sans: 'Open Sans';
$font-roboto: 'Roboto';
$font-ptsans: 'PT Sans';
$font-alegra: "Alegreya Sans";

$img-path: './images/';
$font-size: 16px;
/////////////////////////////////////

////___typography property____//////
$base-line-height: 1.5;

////____text colors property___//////
//$color-primary:
$color-acent: #940119;
$color-acent-hover: lighten($color-acent, 10%);
//$color-secondary:

$color-black: #000;
////////////////////////////////////

$color-link-hover: $color-acent;

////////___size of layouts___///////
$container-max-width: 1200px;
$container-min-width: 320px;
$container-padding: 15px;

$desktop-width: 1000px;

$header-height: 100px;
$footer-height: 290px;
$sidebar-left: 240px;
$sidebar-right: 200px;
///////////////////////////////////
