<div class="footer-content">
  <div class="wrapper">
    <div class="flex-container">
      <div class="bottom-menu-block">
        <ul>
          <li><a href="" title="">О школе "Русские сезоны"</a></li>
          <li><a href="" title="">Балет для взрослых</a></li>
          <li><a href="" title="">Балет для детей</a></li>
          <li><a href="" title="">Расписание занятий</a></li>
        </ul>
        <ul>
          <li><a href="" title="">Отзывы участников</a></li>
          <li><a href="" title="">Конакты школы</a></li>
          <li><a href="" title="">Онайлн-уроки</a></li>
          <li><a href="" title="">Публичная оферта</a></li>
        </ul>
      </div>
      <div class="bottom-contact-block">
        <div class="phone-number">
          <i class="ic-phone"></i>
          <ul>
            <li>+7 (123) 45-678-91</li>
            <li>+7 (123) 45-678-91</li>
          </ul>
        </div>
        <div class="social-links">
          <ul>
            <li><a href="" title=""><i class="ic-vk"></i></a></li>
            <li><a href="" title=""><i class="ic-fb"></i></a></li>
            <li><a href="" title=""><i class="ic-inst"></i></a></li>
            <li><a href="" title=""><i class="ic-ok"></i></a></li>
            <li><a href="" title=""><i class="ic-you"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="decor-row text-center">
  <img src="./images/footer-logo.png" alt="">
</div>
<div class="bottom-block">
  <div class="wrapper">
    <div class="flex-container">
      <div class="coop">Школа балета "Русские Сезоны"</div>
      <div class="dev">
        Разработка сайта - <a href="#" title="">Интеллект-Сервис</a>
      </div>
    </div>
  </div>
</div>
