<div class="header header-public" style="background-image:url(./images/top-bg-1.jpg)">
  <div class="header-top-block">
    <div class="wrapper">
      <div class="flex-container">
        <div class="top-cell logo-cell">
          <a href="/" title="Русские Сезоны"><img src="./images/logo.png" alt="Логотип"><span class="logo-text">Русские Сезоны</span></a>
        </div>
        <div class="top-cell menu-cell">
          <a href="#" id="toggle-mobile-menu" title="">
            <i class="ic-hamburger">
              <span></span>
              <span></span>
              <span></span>
            </i>
          </a>
        </div>
        <div class="top-cell phone-number-cell ">
          <div class="phone-number">
            <i class="ic-phone"></i>
            <ul>
              <li>+7 (123) 45-678-91</li>
              <li>+7 (123) 45-678-91</li>
            </ul>
          </div>
        </div>
        <div class="top-cell auth-cell">
          <a href="#" title="Авторизация" class="auth-link"><i class="ic-auth"></i><span>Авторизация</span></a>
        </div>
        <div class="top-cell buy-cource-cell">
          <a href="#" class="btn btn-red" title="ONLINE-УРОКИ"> <i class="ic-play"></i><span>ONLINE-УРОКИ</span></a>
        </div>
      </div>
    </div>
  </div>
  <div class="top-menu-row wrapper">
    <ul class="top-menu">
      <li><a href="#" title="О школе">О школе</a></li>
      <li><a href="#" title="Для взрослых">Для взрослых</a></li>
      <li><a href="#" title="Для детей">Для детей</a></li>
      <li><a href="#" title="Расписание">Расписание</a></li>
      <li><a href="#" title="Отзывы">Отзывы</a></li>
      <li><a href="#" title="Контакты">Контакты</a></li>
    </ul>
  </div>
  <div class="first-screen">
      <h1 class="first-screen-header">Ведущая школа балета в Краснодаре</h1>
  </div>

  <div class="arrow-row">
    <a href="#info" class="scrolling arrow-to-bottom" title="">
      <span class="arrow-wrapper">
        <i class="arrow-1"></i><i class="arrow-2"></i>
      </span>
    </a>
  </div>
</div>
