<div class="header header-public" style="background-image:url(./images/top-bg-1.jpg)">
  <div class="wrapper">
    <div class="header-top-block">
      <div class="top-cell logo-cell">
        <a href="/" title="Русские Сезоны"><img src="./images/logo.png" alt="Логотип"><span class="logo-text">Русские Сезоны</span></a>
      </div>
      <div class="top-cell phone-number-cell ">
        <div class="phone-number">
          <i class="ic-phone"></i>
          <ul>
            <li>+7 (123) 45-678-91</li>
            <li>+7 (123) 45-678-91</li>
          </ul>
        </div>
      </div>
      <div class="top-cell auth-cell">
        <a href="#" title="Авторизация" class="auth-link"><i class="ic-auth"></i><span>Авторизация</span></a>
      </div>
      <div class="top-cell buy-cource-cell">
        <a href="#" class="btn red-btn" title="ONLINE-УРОКИ"> <i class="ic-play"></i><span>ONLINE-УРОКИ</span></a>
      </div>
    </div>
    <div class="top-menu-row">
      <ul class="top-menu">
        <li><a href="#" title="О школе">О школе</a></li>
        <li><a href="#" title="Для взрослых">Для взрослых</a></li>
        <li><a href="#" title="Для детей">Для детей</a></li>
        <li><a href="#" title="Расписание">Расписание</a></li>
        <li><a href="#" title="Отзывы">Отзывы</a></li>
        <li><a href="#" title="Контакты">Контакты</a></li>
      </ul>
    </div>
  </div>
</div>
